<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<footer th:fragment="app_script">
	<!-- BEGIN BASE JS script_footer_fragments.html -->
    <script src="#" th:src="@{~/assets/vendor/jquery/jquery.min.js}"></script>
    <script src="#" th:src="@{~/assets/vendor/bootstrap/js/popper.min.js}"></script>
    <script src="#" th:src="@{~/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <!-- END BASE JS -->
    <!-- BEGIN PLUGINS JS -->
    <script src="#" th:src="@{~/assets/vendor/stacked-menu/stacked-menu.min.js}"></script>
    <script src="#" th:src="@{~/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script src="#" th:src="@{~/assets/vendor/flatpickr/flatpickr.min.js}"></script>
    <script src="#" th:src="@{~/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js}"></script>
    <script src="#" th:src="@{~/assets/vendor/chart.js/Chart.min.js}"></script>
    <!-- END PLUGINS JS -->
    <!-- BEGIN THEME JS -->
    <script src="#" th:src="@{~/assets/javascript/main.min.js}"></script>
    <!-- END THEME JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="#" th:src="@{~/assets/javascript/pages/easypiechart-demo.js}"></script>
    <script src="#" th:src="@{~/assets/javascript/pages/dashboard-demo.js}"></script>
    <!-- END PAGE LEVEL JS -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116692175-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-116692175-1');
    </script>
</footer>
</html>