<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

<div th:fragment="add-client-form" class="page-sidebar bg-light">
	
			<div class="page-inner">
              <!-- .page-title-bar -->
              <header class="page-title-bar-client-form">
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                      <a href="#"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Organization setup</a>
                    </li>
                  </ol>
                </nav>
              </header>
              <!-- /.page-title-bar -->
         	</div>
              
               <form method="post" action="#" enctype="multipart/form-data" class="client-form-control">
               	<div class="form-row" style="margin-bottom:20px;">
             	   <!-- grid column -->
			      <div class="col-md-3 md-3">
			      	<label for="profilePicture">
			      	<input type="file" name="file" id="profilePicture" class="form-control" style="width:200px; display:none;">
                    <img id="photo" class="img-thumbnail" style="width:200px;height:200px;" src="https://localhost:8443/media/download/1587832275304_1587278998781_kitty78.jpg" alt="...">
                    </label>
			      </div>
		         </div>
                 <div class="form-row">
                   <!-- grid column -->
                   <div class="col-md-3 mb-3">
                     <label for="firstName">Organization name</label> <input type="firstName" value="Juanito" class="form-control" name="firstName" id="firstName" required="">
                     <div class="invalid-feedback"> Valid first name is required. </div>
                   </div><!-- /grid column -->
                   <!-- grid column -->
                   <div class="col-md-1 mb-1">
                     <label for="middleName">Middle name</label> <input type="middleName" value="Chavez" class="form-control" name="middleName" id="middleName" required="">
                     <div class="invalid-feedback"> Valid last name is required. </div>
                   </div><!-- /grid column -->
                   <!-- grid column -->
                   <div class="col-md-3 mb-3">
                     <label for="lastName">Last name</label> <input type="lastName" value="Dela Cerna" class="form-control" name="lastName" id="lastName" required="">
                     <div class="invalid-feedback"> Valid last name is required. </div>
                   </div><!-- /grid column -->
                   <!-- grid column -->
                   <div class="col-md-1 mb-1">
                     <label for="extension">Extension</label> <input type="extension" value="Jr." class="form-control" name="extension" id="nameExtension" required="">
                     <div class="invalid-feedback"> Valid last name is required. </div>
                   </div><!-- /grid column -->
                 </div>
                 <!-- /.form-row -->
                 <!-- .form-row -->
                 <div class="form-row">
                    <!-- grid column -->
                   <div class="col-md-2 mb-1">
                     <label for="citizenship">Citizenship</label> <input type="citizenship" value="Pilipino" class="form-control" name="citizenship" id="citizenship" required="">
                     <div class="invalid-feedback"> Valid last name is required. </div>
                   </div><!-- /grid column -->
                   <!-- grid column -->
                   <div class="col-md-2 mb-1">
                  	  <label for="dateOfBerth">Date of berth</label> 
                      <input class="form-control" value="1988-08-27" id="dateOfBerth" name="dateOfBerth" placeholder="YYY/MM/DD" type="dateOfBerth" required="">
                      <div class="invalid-feedback"> Valid last name is required. </div>
                   </div><!-- /grid column -->
                 </div>
                  <!-- .form-row -->
                 <div class="form-row">
                    <!-- grid column -->
                   <div class="col-md-8 mb-1">
                     <label for="Address">Address</label> <textarea type="address" class="form-control" name="address" id="address" required="">Davao City</textarea>
                     <div class="invalid-feedback"> Valid last name is required. </div>
                   </div><!-- /grid column -->
                   </div>
                    <!-- .form-row -->
                 <div class="form-row">
	                 <div class="col-md-8 mb-1 text-right">
	                   <button style="margin-top: 10px;" class="btn btn-primary" type="submit">Submit</button>
	                 </div>
                 </div>
               </form>
              
              
              
              
         
</div>

</html>