<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<form th:fragment="add-new-branch-form" id="addNewBranchForm"
	name="addNewBranchForm">
	<div class="modal fade has-shown" id="addNewBranchModal"
		tabindex="-1" role="dialog"
		aria-labelledby="addNewBranchModalLabel" aria-hidden="true"
		style="display: none;">
		<!-- .modal-dialog -->
		<div class="modal-dialog" role="document">
			<!-- .modal-content -->
			<div class="modal-content">
				<!-- .modal-header -->
				<div class="modal-header">
					<h6 id="addNewBranchModalLabel"
						class="modal-title inline-editable">
						<span>Add new branch</span> 
					</h6>
				</div>
				<!-- /.modal-header -->
				<!-- .modal-body -->
				<div class="modal-body">
					<!-- .form-row -->
					<div class="form-row">
						<div class="col-md-6">
							<div class="form-group">
								<label for="branchLogo"> 
									<input type="file" name="file" id="organizationLogo" class="form-control"
									style="width: 100px; display: none;"> 
									<img id="logo" class="img-thumbnail" style="width: 100px; height: 100px;"
									th:src="@{~/media/download/default-no-image.png}" alt="...">
								</label>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="ceStreet">Branch name</label> <input type="text"
									id="ceStreet" class="form-control"
									value="">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="ceSuite">Address</label> 
								<textarea type="address" class="form-control" name="address" id="address" required=""></textarea>
							</div>
						</div>
						
					</div>
					<!-- /.form-row -->
				</div>
				<!-- /.modal-body -->
				<!-- .modal-footer -->
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Save</button>
					<button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
				</div>
				<!-- /.modal-footer -->
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
</form>

</html>