<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="page-sidebar" class="page-sidebar bg-light">
      <!-- .sidebar-header -->
      <header class="sidebar-header d-xl-none">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">
              <a href="#" onclick="Looper.toggleSidebar()"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Back</a>
            </li>
          </ol>
        </nav>
      </header><!-- /.sidebar-header -->
      <!-- .sidebar-section -->
      <div class="sidebar-section sidebar-section-fill">
        <h1 class="page-title">
          <i class="far fa-building text-muted mr-2"></i><span th:text="${establishmentName}"></span></h1>
        <p class="text-muted"> <span th:text="${address}"></span> </p><!-- .nav-scroller -->
        <div class="nav-scroller border-bottom">
          <!-- .nav-tabs -->
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active show" data-toggle="tab" href="#client-information">Information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#branch">Branch</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#client-projects">Modules</a>
            </li>
          </ul><!-- /.nav-tabs -->
        </div><!-- /.nav-scroller -->
        <!-- .tab-content -->
        <div class="tab-content pt-4" id="clientDetailsTabs">
          <!-- .tab-pane -->
          <div class="tab-pane fade show active" id="client-information" role="tabpanel" aria-labelledby="client-billing-contact-tab">
            <!-- .card -->
            <div class="card">
              <!-- .card-body -->
              <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                  <h2 id="client-billing-contact-tab" class="card-title"> <span th:text="${type}"></span></h2><button type="button" class="btn btn-link" data-toggle="modal" data-target="#clientBillingEditModal">Edit</button>
                </div>
                
                <!-- Heading -->
                <p th:text="${company_heading}" ></p>
                <span class="text-muted-1 mr-2">Jurisdiction: </span> <span><u th:text="${jurisdiction}"></u></span><br>
                <span class="text-muted-1 mr-2">Location:</span> <span><u th:text="${address}"></u></span><br>
                <span class="text-muted-1 mr-2">Organization executive: </span> <span><u th:text="${executive}"></u></span><br>
                <span class="text-muted-1 mr-2">Annual budget: </span> <span><u th:text="${annualBudget}"></u></span><br>
                <span class="text-muted-1 mr-2">Telephone No.: </span> <span><u th:text="${telephone}"></u></span><br>
				<span class="text-muted-1 mr-2">Email: </span> <span><u th:text="${email}"></u></span><br>
                <span class="text-muted-1 mr-2">Website: </span> <span><u th:text="${website}"></u></span><br>
                <span class="text-muted-1 mr-2">Founded: </span> <span><u th:text="${founded}"></u></span><br>
                <span class="text-muted-1 mr-2">Predecessor: </span> <span><u th:text="${predecessor}"></u></span>
                <br>
                <br>
                <br>
                <span class="text-muted-1 mr-2">Circle Ph license key: </span> <span><u>CPHWEW@#1@1W1Q5E4QWE3#$2#@@2</u></span>
                <br>
              </div><!-- /.card-body -->
            </div><!-- /.card -->
            
          </div><!-- /.tab-pane -->
          
          
          <div class="tab-pane fade" id="branch" role="tabpanel" aria-labelledby="client-projects-tab">
            <!-- .card -->
            <div class="card">
              <!-- .card-header -->
              <div class="card-header d-flex">
                <button type="button" class="btn btn-primary ml-auto">Add branch</button>
              </div><!-- /.card-header -->
              <!-- .table-responsive -->
              <div class="table-responsive">
                <!-- .table -->
                <table class="table">
                  <!-- thead -->
                  <thead>
                    <tr>
                      <th style="min-width:260px"> Branch </th>
                      <th> Address </th>
                      <th></th>
                    </tr>
                  </thead><!-- /thead -->
                  <!-- tbody -->
                  <tbody>
                    <!-- tr -->
                    <tr th:each="branch : ${branchList}">
                      <td class="align-middle text-truncate">
                        <a href="#" class="tile bg-pink text-white mr-2">SP</a> <a href="#" th:text="${branch.branchName}"></a>
                      </td>
                      <td class="align-middle"><span th:text="${branch.address}"></span></td>
                      <td class="align-middle text-right">
                        <div class="dropdown">
                          <button type="button" class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"><i class="fa fa-ellipsis-h"></i> <span class="sr-only">Actions</span></button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-arrow mr-n1"></div><button class="dropdown-item" type="button">Edit</button> <button class="dropdown-item" type="button">Delete</button>
                          </div>
                        </div>
                      </td>
                    </tr><!-- /tr -->
                  </tbody><!-- /tbody -->
                </table><!-- /.table -->
              </div><!-- /.table-responsive -->
            </div><!-- /.card -->
          </div><!-- /.tab-pane -->
          <!-- .tab-pane -->
          <div class="tab-pane fade" id="client-projects" role="tabpanel" aria-labelledby="client-projects-tab">
            <!-- .card -->
            <div class="card">
              <!-- .card-header -->
              <div class="card-header d-flex">
                <!-- .dropdown -->
                <div class="dropdown">
                  <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-filter mr-1"></i> All (3) <i class="fa fa-caret-down"></i></button> <!-- .dropdown-menu -->
                  <div class="dropdown-menu stop-propagation">
                    <h6 id="client-projects-tab" class="dropdown-header"> Projects </h6><label class="custom-control custom-radio"><input type="radio" class="custom-control-input" name="clientProjectFilter" value="0" checked=""> <span class="custom-control-label">All (3)</span></label> <label class="custom-control custom-radio"><input type="radio" class="custom-control-input" name="clientProjectFilter" value="1"> <span class="custom-control-label">On Going (1)</span></label> <label class="custom-control custom-radio"><input type="radio" class="custom-control-input" name="clientProjectFilter" value="2"> <span class="custom-control-label">Completed (2)</span></label> <label class="custom-control custom-radio"><input type="radio" class="custom-control-input" name="clientProjectFilter" value="3"> <span class="custom-control-label">Archived (0)</span></label>
                  </div><!-- /.dropdown-menu -->
                </div><!-- /.dropdown -->
                <button type="button" class="btn btn-primary ml-auto">Add project</button>
              </div><!-- /.card-header -->
              <!-- .table-responsive -->
              <div class="table-responsive">
                <!-- .table -->
                <table class="table">
                  <!-- thead -->
                  <thead>
                    <tr>
                      <th style="min-width:260px"> Project </th>
                      <th> Start </th>
                      <th> Due </th>
                      <th> Status </th>
                      <th></th>
                    </tr>
                  </thead><!-- /thead -->
                  <!-- tbody -->
                  <tbody>
                    <!-- tr -->
                    <tr>
                      <td class="align-middle text-truncate">
                        <a href="#" class="tile bg-pink text-white mr-2">SP</a> <a href="#">Syrena Project</a>
                      </td>
                      <td class="align-middle"> 04/10/2018 </td>
                      <td class="align-middle"> 08/18/2018 </td>
                      <td class="align-middle">
                        <span class="badge badge-warning">On Going</span>
                      </td>
                      <td class="align-middle text-right">
                        <div class="dropdown">
                          <button type="button" class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"><i class="fa fa-ellipsis-h"></i> <span class="sr-only">Actions</span></button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-arrow mr-n1"></div><button class="dropdown-item" type="button">Edit</button> <button class="dropdown-item" type="button">Delete</button>
                          </div>
                        </div>
                      </td>
                    </tr><!-- /tr -->
                    <!-- tr -->
                    <tr>
                      <td class="align-middle text-truncate">
                        <a href="#" class="tile bg-green text-white mr-2">MG</a> <a href="#">Mobile App Gex</a>
                      </td>
                      <td class="align-middle"> 06/12/2018 </td>
                      <td class="align-middle"> 07/03/2018 </td>
                      <td class="align-middle">
                        <span class="badge badge-success">Completed</span>
                      </td>
                      <td class="align-middle text-right">
                        <div class="dropdown">
                          <button type="button" class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"><i class="fa fa-ellipsis-h"></i> <span class="sr-only">Actions</span></button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-arrow mr-n1"></div><button class="dropdown-item" type="button">Edit</button> <button class="dropdown-item" type="button">Delete</button>
                          </div>
                        </div>
                      </td>
                    </tr><!-- /tr -->
                    <!-- tr -->
                    <tr>
                      <td class="align-middle text-truncate">
                        <a href="#" class="tile bg-red text-white mr-2">LB</a> <a href="#">Landing Page Booster</a>
                      </td>
                      <td class="align-middle"> 09/29/2018 </td>
                      <td class="align-middle"> 11/24/2018 </td>
                      <td class="align-middle">
                        <span class="badge badge-success">Completed</span>
                      </td>
                      <td class="align-middle text-right">
                        <div class="dropdown">
                          <button type="button" class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown" aria-expanded="false" aria-haspopup="true"><i class="fa fa-ellipsis-h"></i> <span class="sr-only">Actions</span></button>
                          <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-arrow mr-n1"></div><button class="dropdown-item" type="button">Edit</button> <button class="dropdown-item" type="button">Delete</button>
                          </div>
                        </div>
                      </td>
                    </tr><!-- /tr -->
                  </tbody><!-- /tbody -->
                </table><!-- /.table -->
              </div><!-- /.table-responsive -->
            </div><!-- /.card -->
          </div><!-- /.tab-pane -->
        </div><!-- /.tab-content -->
      </div><!-- /.sidebar-section -->
</div>

</html>