<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<!-- Begin SEO tag -->
    <title> Circle | User maintenance</title>
    <!-- End SEO tag -->
</head>
<head th:insert="fragments/header.html :: header"></head>
<head>
	<!-- DataTables maintenance user page-->
    <link rel="stylesheet" th:href="@{~/assets/datatable/datatables.css}">
    <link rel="stylesheet" th:href="@{~/assets/datatable/datatables-costum.css}">
    <!-- /.DataTables -->
</head>
<body>
	<div class="app">
      <!-- .app-header -->
      <header th:insert="fragments/topbar.html :: topbar"></header>
      <!-- /.app-header -->
      <!-- .app-aside -->
      <aside th:insert="fragments/aside.html :: aside"></aside>
      <!-- /.app-aside -->
      <!-- Page content goes here -->
      <!-- .app-main -->
      <main class="app-main">
        <!-- .wrapper -->
        <div class="wrapper">
          <!-- .page -->
          <div class="page">
            <!-- .page-inner -->
            <div class="page-inner">
        	<!-- DataTables -->
        	<div class="container">
			    <div class="row">
			        <div class="col-lg mt-5 mb-5">
			            <table id="example" class="table table-bordered table-responsive" style="width: 100%">
			                <thead>
			                <tr>
			                    <th>ID</th>
								<th>Organization</th>
								<th>Email</th>
								<th>Username</th>
								<th>Password</th>
								<th>Active</th>
								<th>Account expired</th>
								<th>Account locked</th>
								<th>Credentials expire</th>
			                </tr>
			                </thead>
			            </table>
			        </div>
			    </div>
			</div>
        	<!-- /.DataTables -->
        	</div>
            <!-- /.page-inner -->
          </div>
          <!-- /.page -->
        </div>
        <!-- /.wrapper -->
      </main>
      <!-- /.app-main -->
    </div>
 	<footer th:insert="fragments/footer.html :: footer"></footer>
 	<!-- DataTables -->
    <script src="#" th:src="@{~/assets/datatable/datatables.js}"></script>
    <!-- /.DataTables -->
 	<script>
	    $('#example').DataTable({
	        "processing": true,
	        "serverSide": true,
	        "ajax": {
	            "url": "/api/user-list",
	            "type": "POST",
	            "dataType": "json",
	            "contentType": "application/json",
	            "data": function (d) {
	                return JSON.stringify(d);
	            }
	        },
	        "columns": [
	            {"data": "userId", "width": "5%"},
	            {"data": "organization","width": "20%"},
	            {"data": "email", "width": "20%"},
	            {"data": "username", "width": "20%"},
	            {"data": "password", "width": "20%"},
	            {"data": "active", "width": "20%"},
	            {"data": "accountNonExpired", "width": "20%"},
	            {"data": "accountNonLocked", "width": "20%"},
	            {"data": "credentialsNonExpired", "width": "20%"}
	        ]
	    });
    </script>
</body>
</html>