
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
	<title>Circle | Public Page</title>
	</head>
  <head th:insert="fragments/header.html :: header"></head>
  <body>
    <!-- .app -->
    <div class="app has-fullwidth">
      <!-- .app-header -->
      <header class="app-header">
        <!-- .top-bar -->
        <div class="top-bar">
          <!-- .top-bar-brand -->
          <div class="top-bar-brand">
            <a th:href="@{~/}">
              <img src="assets/images/brand-inverse.png" height="32" alt="">
            </a>
          </div>
          <!-- /.top-bar-brand -->
          <!-- .top-bar-list -->
          <div class="top-bar-list">
            <!-- .top-bar-item -->
            <div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">
              <!-- toggle menu -->
              <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="Menu" aria-controls="navigation">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </button>
              <!-- /toggle menu -->
            </div>
            <!-- /.top-bar-item -->
            <!-- .top-bar-item -->
            <div class="top-bar-item top-bar-item-full">
              <!-- .top-bar-search -->
              <div class="top-bar-search">
                <div class="input-group input-group-search">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <span class="oi oi-magnifying-glass"></span>
                    </span>
                  </div>
                  <input type="text" class="form-control" aria-label="Search" placeholder="Search"> </div>
              </div>
              
              <!-- /.top-bar-search -->
            </div>
            <!-- /.top-bar-item -->
            <!-- .top-bar-item -->
            <div class="top-bar-item top-bar-item-right px-0 d-none d-sm-flex">
            
            <ul sec:authorize="isAuthenticated()" class="header-nav nav">
                <!-- .nav-item -->
                <li class="nav-item dropdown header-nav-dropdown">
                  <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="oi oi-grid-three-up"></span>
                  </a>
                  <div class="dropdown-arrow"></div>
                  <!-- .dropdown-menu -->
                  <div class="dropdown-menu dropdown-menu-rich dropdown-menu-right">
                    <!-- .dropdown-sheets -->
                    <div class="dropdown-sheets">
                      <!-- .dropdown-sheet-item -->
                      <div sec:authorize="hasRole('ROLE_HUMAN_RESOURCES')" class="dropdown-sheet-item">
                        <a href="dashboard" class="tile-wrapper">
                          <span class="tile tile-lg bg-indigo">
                            <i class="oi oi-people"></i>
                          </span>
                          <span class="tile-peek">Human Resources</span>
                        </a>
                      </div>
                      <!-- /.dropdown-sheet-item -->
                      <!-- .dropdown-sheet-item -->
                      <div sec:authorize="hasRole('ROLE_INVENTORY_MANAGEMENT')" class="dropdown-sheet-item">
                        <a href="#" class="tile-wrapper">
                          <span class="tile tile-lg bg-teal">
                            <i class="oi oi-fork"></i>
                          </span>
                          <span class="tile-peek">Inventory Management</span>
                        </a>
                      </div>
                      <!-- /.dropdown-sheet-item -->
                      <!-- .dropdown-sheet-item -->
                      <div sec:authorize="hasRole('ROLE_COMPANY_PROFILING')" class="dropdown-sheet-item">
                        <a href="#" class="tile-wrapper">
                          <span class="tile tile-lg bg-pink">
                            <i class="fa fa-tasks"></i>
                          </span>
                          <span class="tile-peek">Company Profiling</span>
                        </a>
                      </div>
                      <!-- /.dropdown-sheet-item -->
                       <div sec:authorize="hasRole('ROLE_ACCOUNT_SETUP')" class="dropdown-sheet-item">
                        <a href="account-setup" class="tile-wrapper">
                          <span class="tile tile-lg bg-pink">
                            <i class="fa fa-tasks"></i>
                          </span>
                          <span class="tile-peek">Account Setup</span>
                        </a>
                      </div>
                      <!-- /.dropdown-sheet-item -->
                    </div>
                    <!-- .dropdown-sheets -->
                  </div>
                  <!-- .dropdown-menu -->
                </li>
                <!-- /.nav-item -->
              </ul>
            
              <!-- .btn-account -->
              <div class="dropdown">
                <button class="btn-account d-none d-md-flex" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="user-avatar">
                    <img src="assets/images/avatars/profile.jpg" alt="">
                  </span>
                  <span class="account-summary pr-lg-4 d-none d-lg-block">
                    <span class="account-name" sec:authentication="name"></span>
                    <span class="account-description"></span>
                  </span>
                </button>
                <div class="dropdown-arrow dropdown-arrow-left"></div>
                <!-- .dropdown-menu -->
                <div class="dropdown-menu">
                  <h6 class="dropdown-header d-none d-md-block d-lg-none"> Beni Arisandi </h6>
                   <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
	                  <a class="dropdown-item" href="user-profile.html">
	                    <span class="dropdown-icon oi oi-person"></span> 
	                    <button class="dropdown-item btn-sm" sec:authorize="isAuthenticated()" type="submit">Logout</button>
	                	<button class="dropdown-item btn-sm" sec:authorize="isAnonymous()" th:href="@{~/login}" type="submit">Sign in</button>
	                    </a>
                   </form>
                   	<a class="dropdown-item" href="signup" sec:authorize="isAnonymous()">
                    <span class="dropdown-icon oi oi-account-logout"></span>Signup</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Help Center</a>
                  <a class="dropdown-item" href="#">Ask Forum</a>
                  <a class="dropdown-item" href="#">Keyboard Shortcuts</a>
                </div>
                <!-- /.dropdown-menu -->
              </div>
              <!-- /.btn-account -->
            </div>
            <!-- /.top-bar-item -->
          </div>
          <!-- /.top-bar-list -->
        </div>
        <!-- /.top-bar -->
      </header>
      <!-- /.app-header -->
      <!-- .app-aside -->
      <aside class="app-aside">
        <!-- .aside-content -->
        <div class="aside-content">
          <!-- .aside-header -->
          <header class="aside-header">
            <!-- toggle menu -->
            <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="Menu" aria-controls="navigation">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
            <!-- /toggle menu -->
            <!-- .btn-account -->
            <button class="btn-account d-flex d-md-none" type="button" data-toggle="collapse" data-target="#dropdown-aside">
              <span class="user-avatar user-avatar-lg">
                <img src="assets/images/avatars/profile.jpg" alt="">
              </span>
              <span class="account-icon">
                <span class="fa fa-caret-down fa-lg"></span>
              </span>
              <span class="account-summary">
                <span class="account-name" sec:authentication="name"></span>
                <span class="account-description"></span>
              </span>
            </button>
            <!-- /.btn-account -->
            <!-- .dropdown-aside -->
            <div id="dropdown-aside" class="dropdown-aside collapse">
              <!-- dropdown-items -->
              <div class="pb-3">
                <a class="dropdown-item" href="user-profile.html">
                  <span class="dropdown-icon oi oi-person"></span> Profile</a>
                <a class="dropdown-item" href="auth-signin-v1.html">
                  <span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Help Center</a>
                <a class="dropdown-item" href="#">Ask Forum</a>
                <a class="dropdown-item" href="#">Keyboard Shortcuts</a>
              </div>
              <!-- /dropdown-items -->
            </div>
            <!-- /.dropdown-aside -->
            <!-- .top-bar-brand -->
            <div class="top-bar-brand">
              <a href="index.html">
                <img src="assets/images/brand.png" height="32" alt="">
              </a>
            </div>
            <!-- /.top-bar-brand -->
          </header>
          <!-- /.aside-header -->
          
        </div>
        <!-- /.aside-content -->
      </aside>
      <!-- /.app-aside -->
      <!-- .app-main -->
      <main class="app-main">
        <!-- .wrapper -->
        <div class="wrapper">
          <!-- .page -->
          <div class="page">
            <!-- .page-inner -->
            <div sec:authorize="isAuthenticated()" class="page-inner">
              <!-- .page-section -->
              <div class="page-section">
               
               
               <!-- Empty -->
               
               
     		  </div>
              <!-- /.page-section -->
            </div>
            <!-- /.page-inner -->
          </div>
          <!-- /.page -->
        </div>
        <!-- /.wrapper -->
      </main>
      <!-- /.app-main -->
    </div>
    <!-- /.app -->
    <div th:insert="fragments/footer.html :: footer"></div>
  </body>
</html>