
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Circle | Clients</title>
</head>
<head th:insert="apps/branch/fragments/header.html :: header"></head>
<head>
<link rel="stylesheet" href="#"
	th:href="@{~/assets/stylesheets/bootstrap-select.min.css}">
<link rel="stylesheet" href="#"
	th:href="@{~/assets/stylesheets/bootstrap-datepicker3.css}">
</head>
<body>
	<!-- .app -->
	<div class="app">
		<!-- .app-header -->
		<header th:insert="fragments/topbar.html :: topbar"></header>
		<!-- /.app-header -->
		<!-- .app-aside -->
		<aside th:insert="fragments/aside.html :: aside"></aside>
		<!-- /.app-aside -->

		<main class="app-main">
			<div class="wrapper">
				<div
					class="page has-sidebar has-sidebar-fluid has-sidebar-expand-xl has-sidebar-open">

					<div class="page-inner page-inner-fill position-relative">
						<header class="page-navs bg-light shadow-sm">
							<!-- .input-group -->
							<div class="input-group has-clearable">
								<button type="button" class="close" aria-label="Close">
									<span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
								</button>
								<label class="input-group-prepend" for="searchClients"><span
									class="input-group-text"><span
										class="oi oi-magnifying-glass"></span></span></label> 
										<input type="text" class="form-control" id="searchClients"
									data-filter=".board .list-group-item"
									placeholder="Find clients">
							</div>
							<!-- /.input-group -->
						</header>
						<div class="table-responsive">
							<!-- .table -->
							<table id="tableBranch" class="table">
								<!-- thead -->

								<!-- /thead -->
								<!-- tbody -->
								<tbody>
									<!-- list -->
									<tr th:each="branch : ${branchList}">
										<td class="align-middle text-truncate">
										<a th:href="${branch.branchId}">
											<span class="user-avatar">
								             <img th:src="${branch.logoUrl}" alt="">
								           </span>
										</a> 
										<a href="#" th:text="${branch.branchName}"></a></td>
									</tr>
								</tbody>
								<!-- /tbody -->
							</table>
							<!-- /.table -->
						</div>
					</div>

					<div id="page-sidebar" class="element_overlap"></div>

				</div>
			</div>
		</main>

	</div>
	<!-- /.app -->
	<div th:insert="apps/branch/fragments/footer.html :: footer"></div>
	<script src="#" th:src="@{~/assets/javascript/pages/bootstrap-select.min.js}"></script>
	<script src="#" th:src="@{~/assets/javascript/pages/bootstrap-datepicker.min.js}"></script>
	<script src="#" th:src="@{~/assets/javascript/pages/loadingoverlay.min.js}"></script>
	<script src="#" th:src="@{~/assets/javascript/pages/loadingoverlay_progress.min.js}"></script>
	
	<script>
    	$(document).ready(function() {
    		
    		$("#searchClients").keyup(function() {
    			var td, i, txtValue;
    			var search = $("#searchClients").val();	
    			var filter = search.toUpperCase();
    			var table = $("#tableBranch");
    			var tr = $("#tableBranch tr");
    			for (i = 0; i < tr.length; i++) {
    			    td = tr[i].getElementsByTagName("td")[0];
    			    if (td) {
    			      txtValue = td.textContent || td.innerText;
    			      if (txtValue.toUpperCase().indexOf(filter) > -1) {
    			        tr[i].style.display = "";
    			      } else {
    			        tr[i].style.display = "none";
    			      }
    			    }       
    		  	}
    		});
    		
    		$('#tableBranch tr').click(function(){
    			$(".element_overlap").LoadingOverlay("show");
   				$(this).children('td').children('input').prop('checked', true);
   				$('#tableBranch tr').removeClass('selected');
   			  	$(this).toggleClass('selected');
   			 	var href = $(this).find("a").attr("href");
				var url = "/apps/branch/page-sidebar";
				$('#page-sidebar').load(url, {
					branchId: href
				},
				function(data, status, jqXGR) {
					$(".element_overlap").LoadingOverlay("hide", true);
				});
    		});
    		
			
    	});
    </script>
</body>
</html>