<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<aside class="app-aside" th:fragment="aside">
     <!-- .aside-content 22 -->
     <div class="aside-content">
       <!-- .aside-header -->
       <header class="aside-header d-block d-md-none">
         <!-- .btn-account -->
         <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside">
           <span class="user-avatar user-avatar-lg">
             <img src="#" th:src="@{~/assets/images/avatars/profile.jpg}" alt="">
           </span>
           <span class="account-icon">
             <span class="fa fa-caret-down fa-lg"></span>
           </span>
           <span class="account-summary">
             <span class="account-name" sec:authentication="name"></span>
             <span class="account-description"></span>
           </span>
         </button>
         <!-- /.btn-account -->
         <!-- .dropdown-aside -->
         <div id="dropdown-aside" class="dropdown-aside collapse">
           <!-- dropdown-items -->
           <div class="pb-3">
             <a class="dropdown-item" href="auth-signin-v1.html">
               <span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Help Center</a>
             <a class="dropdown-item" href="#">Ask Forum</a>
             <a class="dropdown-item" href="#">Keyboard Shortcuts</a>
           </div>
           <!-- /dropdown-items -->
         </div>
         <!-- /.dropdown-aside -->
       </header>
       <!-- /.aside-header -->
       <!-- .aside-menu -->
       <section class="aside-menu has-scrollable">
         <!-- .stacked-menu -->
         <nav id="stacked-menu" class="stacked-menu">
           <!-- .menu -->
           <ul class="menu">
             <!-- .menu-item -->
             <li class="menu-item has-active">
               <a href="#" th:href="@{~/human-resources/dashboard}"  class="menu-link">
                 <span class="menu-icon fas fa-home"></span>
                 <span class="menu-text">Dashboard</span>
               </a>
             </li>
             <!-- /.menu-item -->
             <!-- .menu-item -->
             <li class="menu-item has-child">
               <a href="#" class="menu-link">
                 <span class="menu-icon oi oi-browser"></span>
                 <span class="menu-text">Application</span>
               </a>
               <!-- child menu -->
               <ul class="menu">
                 <li class="menu-item">
                   <a href="layout-blank.html" class="menu-link">Leave form</a>
                 </li>
                 <li class="menu-item">
                   <a href="layout-blank.html" class="menu-link">Overtime form</a>
                 </li>
               </ul>
               <!-- /child menu -->
             </li>
             <!-- /.menu-item -->
              <!-- .menu-item -->
             <li class="menu-item has-child">
               <a href="#" class="menu-link">
                 <span class="menu-icon oi oi-pencil"></span>
                 <span class="menu-text">Payroll processing</span>
               </a>
               <!-- child menu -->
               <ul class="menu">
                 <li class="menu-item">
                   <a href="form-basic.html" class="menu-link">Daily time record</a>
                 </li>
                 <li class="menu-item">
                   <a href="form-autocompletes.html" class="menu-link">Employee leave</a>
                 </li>
                 <li class="menu-item">
                   <a href="form-pickers.html" class="menu-link">Generate payroll</a>
                 </li>
               </ul>
               <!-- /child menu -->
             </li>
             <!-- /.menu-item -->
             <!-- .menu-header -->
             <li class="menu-header">Settings </li>
             <!-- /.menu-header -->
             <!-- .menu-item -->
             <li class="menu-item has-child">
               <a href="#" class="menu-link">
                 <span class="menu-icon oi oi-person"></span>
                 <span class="menu-text">My Account</span>
               </a>
               <!-- child menu -->
               <ul class="menu">
                 <li class="menu-item">
                   <a href="table-basic.html" class="menu-link">Job</a>
                 </li>
                 <li class="menu-item">
                   <a href="table-datatables.html" class="menu-link">Personal detail</a>
                 </li>
                 <li class="menu-item">
                   <a href="table-datatables.html" class="menu-link">Contact detail</a>
                 </li>
                 <li class="menu-item">
                   <a href="table-datatables.html" class="menu-link">Salary</a>
                 </li>
                 <li class="menu-item">
                   <a href="table-datatables.html" class="menu-link">Qualification</a>
                 </li>
               </ul>
               <!-- /child menu -->
             </li>
             <!-- /.menu-item -->
             <!-- .menu-item -->
             <li sec:authorize="hasAnyRole('ROLE_CREATOR','ROLE_SUPER_USER','ROLE_ADMIN')" class="menu-item has-child">
               <a href="#" class="menu-link">
                 <span class="menu-icon oi oi-wrench"></span>
                 <span class="menu-text">Maintenance</span>
               </a>
               <!-- child menu -->
               <ul class="menu">
                 <li class="menu-item">
                   <a href="#" th:href="@{~/human-resources/maintenance/user/index}" class="menu-link">User</a>
                 </li>
                 <li class="menu-item">
                   <a href="component-icons.html" class="menu-link">Job</a>
                 </li>
                 <li class="menu-item">
                   <a href="component-rich-media.html" class="menu-link">Salary</a>
                 </li>
                 <li class="menu-item">
                   <a href="component-list-views.html" class="menu-link">Loan</a>
                 </li>
                 <li class="menu-item">
                   <a href="component-sortable-nestable.html" class="menu-link">Holiday</a>
                 </li>
                 <li class="menu-item">
                   <a href="component-activity.html" class="menu-link">General Information</a>
                 </li>
               </ul>
               <!-- /child menu -->
             </li>
             <!-- /.menu-item -->
            
             <!-- .menu-header -->
             <li sec:authorize="hasRole('ROLE_CREATOR')" class="menu-header">Pages </li>
             <!-- /.menu-header -->
             <!-- .menu-item -->
             <li sec:authorize="hasRole('ROLE_CREATOR')" class="menu-item has-child">
               <a href="#" class="menu-link">
                 <span class="menu-icon oi oi-infinity"></span>
                 <span class="menu-text">Apps</span>
               </a>
               <!-- child menu -->
               <ul class="menu">
                 <li class="menu-item">
                   <a href="app-messages.html" class="menu-link">Messages</a>
                 </li>
                 <li class="menu-item">
                   <a href="app-conversations.html" class="menu-link">Conversations</a>
                 </li>
                 <li class="menu-item">
                   <a href="app-tasks.html" class="menu-link">Tasks</a>
                 </li>
                 <li class="menu-item">
                   <a href="app-feeds.html" class="menu-link">Feeds</a>
                 </li>
               </ul>
               <!-- /child menu -->
             </li>
             <!-- /.menu-item -->
             <!-- .menu-item -->
             <li sec:authorize="hasRole('ROLE_CREATOR')" class="menu-item has-child">
               <a href="#" class="menu-link">
                 <span class="menu-icon oi oi-people"></span>
                 <span class="menu-text">User</span>
               </a>
               <!-- child menu -->
               <ul class="menu">
                 <li class="menu-item">
                   <a href="user-profile.html" class="menu-link">Profile</a>
                 </li>
                 <li class="menu-item">
                   <a href="user-activities.html" class="menu-link">Activities</a>
                 </li>
                 <li class="menu-item">
                   <a href="user-teams.html" class="menu-link">Teams</a>
                 </li>
                 <li class="menu-item">
                   <a href="user-projects.html" class="menu-link">Projects</a>
                 </li>
                 <li class="menu-item">
                   <a href="user-tasks.html" class="menu-link">Tasks</a>
                 </li>
                 <li class="menu-item">
                   <a href="user-profile-settings.html" class="menu-link">Profile Settings</a>
                 </li>
                 <li class="menu-item">
                   <a href="user-account-settings.html" class="menu-link">Account Settings</a>
                 </li>
                 <li class="menu-item">
                   <a href="user-billing-settings.html" class="menu-link">Billing Settings</a>
                 </li>
                 <li class="menu-item">
                   <a href="user-notification-settings.html" class="menu-link">Notification Settings</a>
                 </li>
               </ul>
               <!-- /child menu -->
             </li>
             <!-- /.menu-item -->
             <!-- .menu-item -->
             <li sec:authorize="hasRole('ROLE_CREATOR')" class="menu-item has-child">
               <a href="#" class="menu-link">
                 <span class="menu-icon far fa-file"></span>
                 <span class="menu-text">Organization</span>
               </a>
               <!-- child menu -->
               <ul class="menu">
                 <li class="menu-item">
                   <a href="auth-comingsoon-v1.html" class="menu-link">Coming Soon v1</a>
                 </li>
                 <li class="menu-item">
                   <a href="auth-comingsoon-v2.html" class="menu-link">Coming Soon v2</a>
                 </li>
                 <li class="menu-item">
                   <a href="auth-cookie-consent.html" class="menu-link">Cookie Consent</a>
                 </li>
                 <li class="menu-item">
                   <a href="auth-empty-state.html" class="menu-link">Empty State</a>
                 </li>
                 <li class="menu-item">
                   <a href="auth-error-v1.html" class="menu-link">Error Page v1</a>
                 </li>
                 <li class="menu-item">
                   <a href="auth-error-v2.html" class="menu-link">Error Page v2</a>
                 </li>
                 <li class="menu-item">
                   <a href="auth-error-v3.html" class="menu-link">Error Page v3</a>
                 </li>
                 <li class="menu-item">
                   <a href="auth-maintenance.html" class="menu-link">Maintenance</a>
                 </li>
                 <li class="menu-item">
                   <a href="auth-page-message.html" class="menu-link">Page Message</a>
                 </li>
                 <li class="menu-item">
                   <a href="auth-session-timeout.html" class="menu-link">Session Timeout</a>
                 </li>
                 <li class="menu-item">
                   <a href="auth-signin-v1.html" class="menu-link">Sign In v1</a>
                 </li>
                 <li class="menu-item">
                   <a href="auth-signin-v2.html" class="menu-link">Sign In v2</a>
                 </li>
                 <li class="menu-item">
                   <a href="auth-signup.html" class="menu-link">Sign Up</a>
                 </li>
                 <li class="menu-item">
                   <a href="auth-recovery-username.html" class="menu-link">Recovery Username</a>
                 </li>
                 <li class="menu-item">
                   <a href="auth-recovery-password.html" class="menu-link">Recovery Password</a>
                 </li>
                 <li class="menu-item">
                   <a href="auth-lockscreen.html" class="menu-link">Screen Locked</a>
                 </li>
               </ul>
               <!-- /child menu -->
             </li>
             <!-- /.menu-item -->
           </ul>
           <!-- /.menu -->
         </nav>
         <!-- /.stacked-menu -->
       </section>
       <!-- /.aside-menu -->
     </div>
     <!-- /.aside-content -->
</aside>
</html>