<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<footer th:fragment="footer">
   <!-- BEGIN BASE JS -->
    <script th:src="@{~/assets/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{~/assets/vendor/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{~/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <!-- END BASE JS -->
    <!-- BEGIN PLUGINS JS -->
    <script th:src="@{~/assets/vendor/stacked-menu/stacked-menu.min.js}"></script>
    <!-- END PLUGINS JS -->
    <!-- BEGIN THEME JS -->
    <script th:src="@{~/assets/javascript/main.min.js}"></script>
    <!-- END THEME JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <!-- END PAGE LEVEL JS -->
</footer>
</html>