<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- End Required meta tags -->
  
    <!-- FAVICONS -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{~/assets/apple-touch-icon.png}">
    <link rel="shortcut icon" th:href="@{~/assets/favicon.ico}">
    <meta name="theme-color" content="#3063A0">
    <!-- End FAVICONS -->
    <script th:src="@{~/assets/vendor/pace/pace.min.js}"></script>
    <!-- BEGIN BASE STYLES -->
    <link rel="stylesheet" th:href="@{~/assets/vendor/pace/pace.min.css}">
    <link rel="stylesheet" th:href="@{~/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/assets/vendor/open-iconic/css/open-iconic-bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{~/assets/vendor/font-awesome/css/fontawesome-all.min.css}">
    <!-- END BASE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link rel="stylesheet" th:href="@{~/assets/stylesheets/main.min.css}">
    <link rel="stylesheet" th:href="@{~/assets/stylesheets/custom.css}">
    <!-- END THEME STYLES -->
</head>
</html>