/* put your own styles to customize and override the theme */

h1 {
    color: #78ab46;
}

.error-message {
    color: #a94442;
}

.error-message:first-letter {
    text-transform: capitalize;
}

label {
    display: inline-block;
    margin-bottom: .3rem;
    font-weight: 500;
}
.circle-select {
	border: 1px solid #d4d5d7; 
	border-radius: 5px;
}

.has-sidebar-expand-xl.has-sidebar-fluid .page-inner {
    margin-right: calc(100vw - 37.5rem);
}

.has-sidebar-expand-xl.has-sidebar-fluid .page-sidebar {
    width: calc(100vw - 37.5rem);
    max-width: calc(100vw - 37.5rem);
}

.page-navs {
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

tr.selected {
  background: #ddd;
}

.text-muted-1 {
    color: #000000!important;
    font-weight: 500;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    padding-bottom: 200px;
}

