<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<aside class="app-aside" th:fragment="aside">
     <!-- .aside-content 22 -->
     <div class="aside-content">
       <!-- .aside-header -->
       <header class="aside-header d-block d-md-none">
         <!-- .btn-account -->
         <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside">
           <span class="user-avatar user-avatar-lg">
             <img src="#" th:src="@{~/assets/images/avatars/profile.jpg}" alt="">
           </span>
           <span class="account-icon">
             <span class="fa fa-caret-down fa-lg"></span>
           </span>
           <span class="account-summary">
             <span class="account-name" sec:authentication="name"></span>
             <span class="account-description"></span>
           </span>
         </button>
         <!-- /.btn-account -->
         <!-- .dropdown-aside -->
         <div id="dropdown-aside" class="dropdown-aside collapse">
           <!-- dropdown-items -->
           <div class="pb-3">
             <a class="dropdown-item" href="auth-signin-v1.html">
               <span class="dropdown-icon oi oi-account-logout"></span> Logout</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Help Center</a>
             <a class="dropdown-item" href="#">Ask Forum</a>
             <a class="dropdown-item" href="#">Keyboard Shortcuts</a>
           </div>
           <!-- /dropdown-items -->
         </div>
         <!-- /.dropdown-aside -->
       </header>
       <!-- /.aside-header -->
       <!-- .aside-menu -->
       <section class="aside-menu has-scrollable">
         <!-- .stacked-menu -->
         <nav id="stacked-menu" class="stacked-menu">
           <!-- .menu -->
           <ul class="menu">
             <!-- .menu-item -->
             <li class="menu-item has-active">
               <a href="#" th:href="@{~/human-resources/dashboard}"  class="menu-link">
                 <span class="menu-icon fas fa-home"></span>
                 <span class="menu-text">Dashboard</span>
               </a>
             </li>
             <!-- /.menu-item -->
             <!-- .menu-item -->
             <li class="menu-item has-child">
               <a href="#" class="menu-link">
                 <span class="menu-icon oi oi-browser"></span>
                 <span class="menu-text">Application</span>
               </a>
               <!-- child menu -->
               <ul class="menu">
                 <li class="menu-item">
                   <a href="layout-blank.html" class="menu-link">Leave form</a>
                 </li>
                 <li class="menu-item">
                   <a href="layout-blank.html" class="menu-link">Overtime form</a>
                 </li>
               </ul>
               <!-- /child menu -->
             </li>
             <!-- /.menu-item -->
              <!-- .menu-item -->
             <li class="menu-item has-child">
               <a href="#" class="menu-link">
                 <span class="menu-icon oi oi-pencil"></span>
                 <span class="menu-text">Payroll processing</span>
               </a>
               <!-- child menu -->
               <ul class="menu">
                 <li class="menu-item">
                   <a href="form-basic.html" class="menu-link">Daily time record</a>
                 </li>
                 <li class="menu-item">
                   <a href="form-autocompletes.html" class="menu-link">Employee leave</a>
                 </li>
                 <li class="menu-item">
                   <a href="form-pickers.html" class="menu-link">Generate payroll</a>
                 </li>
               </ul>
               <!-- /child menu -->
             </li>
             <!-- /.menu-item -->
             <!-- .menu-header -->
             <li class="menu-header">Settings </li>
             <!-- /.menu-header -->
             <!-- .menu-item -->
             <li class="menu-item has-child">
               <a href="#" class="menu-link">
                 <span class="menu-icon oi oi-person"></span>
                 <span class="menu-text">My Account</span>
               </a>
               <!-- child menu -->
               <ul class="menu">
                 <li class="menu-item">
                   <a href="table-basic.html" class="menu-link">Job</a>
                 </li>
                 <li class="menu-item">
                   <a href="table-datatables.html" class="menu-link">Personal detail</a>
                 </li>
                 <li class="menu-item">
                   <a href="table-datatables.html" class="menu-link">Contact detail</a>
                 </li>
                 <li class="menu-item">
                   <a href="table-datatables.html" class="menu-link">Salary</a>
                 </li>
                 <li class="menu-item">
                   <a href="table-datatables.html" class="menu-link">Qualification</a>
                 </li>
               </ul>
               <!-- /child menu -->
             </li>
             <!-- /.menu-item -->
             <!-- .menu-item -->
             <li sec:authorize="hasAnyRole('ROLE_CREATOR','ROLE_SUPER_USER','ROLE_ADMIN')" class="menu-item has-child">
               <a href="#" class="menu-link">
                 <span class="menu-icon oi oi-wrench"></span>
                 <span class="menu-text">Maintenance</span>
               </a>
               <!-- child menu -->
               <ul class="menu">
                 <li class="menu-item">
                   <a href="#" th:href="@{~/human-resources/maintenance/user/index}" class="menu-link">User</a>
                 </li>
                 <li class="menu-item">
                   <a href="component-icons.html" class="menu-link">Job</a>
                 </li>
                 <li class="menu-item">
                   <a href="component-rich-media.html" class="menu-link">Salary</a>
                 </li>
                 <li class="menu-item">
                   <a href="component-list-views.html" class="menu-link">Loan</a>
                 </li>
                 <li class="menu-item">
                   <a href="component-sortable-nestable.html" class="menu-link">Holiday</a>
                 </li>
                 <li class="menu-item">
                   <a href="component-activity.html" class="menu-link">General Information</a>
                 </li>
               </ul>
               <!-- /child menu -->
             </li>
             <!-- /.menu-item -->
            
             <!-- .menu-header -->
             <li sec:authorize="hasRole('ROLE_CREATOR')" class="menu-header">Pages</li>
             <!-- /.menu-header -->
             <!-- .menu-item -->
             <li sec:authorize="hasRole('ROLE_CREATOR')" class="menu-item has-child" th:class="${#httpServletRequest.requestURI} == '/apps/clients/index' ? 'menu-item has-child has-open': 'menu-item has-child'">
               <a href="#" class="menu-link">
                 <span class="menu-icon oi oi-infinity"></span>
                 <span class="menu-text">Apps</span>
               </a>
               <!-- child menu -->
               <ul class="menu">
                 <li class="#" th:class="${#httpServletRequest.requestURI} == '/apps/clients/index' ? 'menu-item has-active': 'menu-item'">
                   <a th:href="@{~/apps/clients/index}" class="menu-link">Clients</a>
                 </li>
                  <li class="#" th:class="${#httpServletRequest.requestURI} == '/apps/branch/index' ? 'menu-item has-active': 'menu-item'">
                   <a th:href="@{~/apps/branch/index}" class="menu-link">Branch</a>
                 </li>
               </ul>
               <!-- /child menu -->
             </li>
             <!-- /.menu-item -->
             <!-- .menu-item -->
             <li sec:authorize="hasRole('ROLE_CREATOR')" class="menu-item has-child">
               <a href="#" class="menu-link">
                 <span class="menu-icon oi oi-people"></span>
                 <span class="menu-text">User</span>
               </a>
               <!-- child menu -->
               <ul class="menu">
                 <li class="menu-item">
                   <a href="page.html" class="menu-link">Page</a>
                 </li>
               </ul>
               <!-- /child menu -->
             </li>
             <!-- /.menu-item -->
             <!-- .menu-item -->
             <li sec:authorize="hasRole('ROLE_CREATOR')" class="menu-item has-child">
               <a href="#" class="menu-link">
                 <span class="menu-icon far fa-file"></span>
                 <span class="menu-text">Organization</span>
               </a>
               <!-- child menu -->
               <ul class="menu">
                 <li class="menu-item">
                   <a href="auth-comingsoon-v1.html" class="menu-link">Page</a>
                 </li>
               </ul>
               <!-- /child menu -->
             </li>
             <!-- /.menu-item -->
           </ul>
           <!-- /.menu -->
         </nav>
         <!-- /.stacked-menu -->
       </section>
       <!-- /.aside-menu -->
     </div>
     <!-- /.aside-content -->
</aside>
</html>