<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<footer th:fragment="app_script">
	<script src="#" th:src="@{~/assets/vendor/jquery/jquery.min.js}"></script>
    <script src="#" th:src="@{~/assets/javascript/pages/bootstrap-datetimepicker.js}"></script>
	
    <script src="#" th:src="@{~/assets/vendor/bootstrap/js/popper.min.js}"></script>
    <script src="#" th:src="@{~/assets/vendor/bootstrap/js/bootstrap.min.js}"></script>
    <script src="#" th:src="@{~/assets/vendor/stacked-menu/stacked-menu.min.js}"></script>
    <script src="#" th:src="@{~/assets/vendor/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
    <script src="#" th:src="@{~/assets/javascript/main.min.js}"></script>
</footer>
</html>