<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Fragment #1 : Header files contains css and js references -->
<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="#" th:href="@{~/assets/apple-touch-icon.png}">
    <link rel="shortcut icon" href="#" th:href="@{~/assets/favicon.ico}">
    <meta name="theme-color" content="#3063A0">
    <script src="#" th:src="@{~/assets/vendor/pace/pace.min.js}"></script>
    <link rel="stylesheet" href="#" th:href="@{~/assets/vendor/pace/pace.min.css}">
    <link rel="stylesheet" href="#" th:href="@{~/assets/vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="#" th:href="@{~/assets/vendor/open-iconic/css/open-iconic-bootstrap.min.css}">
    <link rel="stylesheet" href="#" th:href="@{~/assets/vendor/font-awesome/css/fontawesome-all.min.css}">
    <link rel="stylesheet" href="#" th:href="@{~/assets/vendor/flatpickr/flatpickr.min.css}">
    <!-- <link rel="stylesheet" href="#" th:href="@{~/assets/stylesheets/bootstrap-datetimepicker.css}"> -->
    <link rel="stylesheet" href="#" th:href="@{~/assets/stylesheets/main.min.css}">
    <link rel="stylesheet" href="#" th:href="@{~/assets/stylesheets/custom.css}"> 
</head>
</html>