<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header class="app-header" th:fragment="topbar">
<!-- .Circle top-bar-->
 <div class="top-bar">
   <!-- .top-bar-brand -->
   <div class="top-bar-brand">
     <a th:href="@{~/}">
       <img src="#" th:src="@{~/assets/images/brand-inverse.png}" height="32" alt="">
     </a>
   </div>
   <!-- /.top-bar-brand -->
   <!-- .top-bar-list -->
   <div class="top-bar-list">
     <!-- .top-bar-item -->
     <div class="top-bar-item px-2 d-md-none d-lg-none d-xl-none">
       <!-- toggle menu -->
       <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="Menu" aria-controls="navigation">
         <span class="hamburger-box">
           <span class="hamburger-inner"></span>
         </span>
       </button>
       <!-- /toggle menu -->
     </div>
     <!-- /.top-bar-item -->
     <!-- .top-bar-item -->
     <div class="top-bar-item top-bar-item-full">
       <!-- .top-bar-search -->
       <div class="top-bar-search">
         <div class="input-group input-group-search">
           <div class="input-group-prepend">
             <span class="input-group-text">
               <span class="oi oi-magnifying-glass"></span>
             </span>
           </div>
           <input type="text" class="form-control" aria-label="Search" placeholder="Search"> </div>
       </div>
       <!-- /.top-bar-search -->
     </div>
     <!-- /.top-bar-item -->
     <!-- .top-bar-item -->
     <div class="top-bar-item top-bar-item-right px-0 d-none d-sm-flex">
       <!-- .nav -->
       <ul class="header-nav nav">
         <!-- .nav-item -->
         <li class="nav-item dropdown header-nav-dropdown has-notified">
           <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <span class="oi oi-pulse"></span>
           </a>
           <div class="dropdown-arrow"></div>
           <!-- .dropdown-menu -->
           <div class="dropdown-menu dropdown-menu-rich dropdown-menu-right">
             <h6 class="dropdown-header stop-propagation">
               <span>Activities
                 <span class="badge">(2)</span>
               </span>
             </h6>
             <!-- .dropdown-scroll -->
             <div class="dropdown-scroll has-scrollable">
               <!-- .dropdown-item -->
               <a href="#" class="dropdown-item unread">
                 <div class="user-avatar">
                   <img src="#" th:src="@{~/assets/images/avatars/default-no-image.png}" alt=""> </div>
                 <div class="dropdown-item-body">
                   <p class="text"> Name of user </p>
                   <span class="date">Date and time</span>
                 </div>
               </a>
               <!-- /.dropdown-item -->
             </div>
             <!-- /.dropdown-scroll -->
             <a href="user-activities.html" class="dropdown-footer">All activities
               <i class="fa fa-fw fa-long-arrow-alt-right"></i>
             </a>
           </div>
           <!-- /.dropdown-menu -->
         </li>
         <!-- /.nav-item -->
         <!-- .nav-item -->
         <li class="nav-item dropdown header-nav-dropdown has-notified">
           <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <span class="oi oi-envelope-open"></span>
           </a>
           <div class="dropdown-arrow"></div>
           <!-- .dropdown-menu -->
           <div class="dropdown-menu dropdown-menu-rich dropdown-menu-right">
             <h6 class="dropdown-header stop-propagation">
               <span>Messages</span>
               <a href="#">Mark all as read</a>
             </h6>
             <!-- .dropdown-scroll -->
             <div class="dropdown-scroll has-scrollable">
               <!-- .dropdown-item -->
               <a href="#" class="dropdown-item unread">
                 <div class="user-avatar">
                   <img src="#" th:src="@{~/assets/images/avatars/team1.jpg}" alt=""> </div>
                 <div class="dropdown-item-body">
                   <p class="subject"> Subject name </p>
                   <p class="text text-truncate"> Description text </p>
                   <span class="date">Time and date</span>
                 </div>
               </a>
               <!-- /.dropdown-item -->
             </div>
             <!-- /.dropdown-scroll -->
             <a href="app-messages.html" class="dropdown-footer">All messages
               <i class="fa fa-fw fa-long-arrow-alt-right"></i>
             </a>
           </div>
           <!-- /.dropdown-menu -->
         </li>
         <!-- /.nav-item -->
       </ul>
       <!-- /.nav -->
       <!-- .btn-account -->
       <div class="dropdown">
         <button class="btn-account d-none d-md-flex" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           <span class="user-avatar">
             <img src="#" th:src="@{~/assets/images/avatars/profile.jpg}" alt="">
           </span>
           <span class="account-summary pr-lg-4 d-none d-lg-block">
             <span class="account-name" sec:authentication="name"></span>
             <span class="account-description"></span>
           </span>
         </button>
         <div class="dropdown-arrow dropdown-arrow-left"></div>
         <!-- .dropdown-menu -->
         <div class="dropdown-menu">
           <h6 class="dropdown-header d-none d-md-block d-lg-none"> Beni Arisandi </h6>
           
          <form class="form-inline my-2 my-lg-0" form-method="post" th:action="@{/logout}">
            <a class="dropdown-item" href="user-profile.html">
              <span class="dropdown-icon oi oi-account-logout"></span> 
              <button class="dropdown-item btn-sm" sec:authorize="isAuthenticated()" type="submit">Logout</button>
          	<button class="dropdown-item btn-sm" sec:authorize="isAnonymous()" th:href="@{~/login}" type="submit">Sign in</button>
              </a>
            </form>
             
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">Help Center</a>
           <a class="dropdown-item" href="#">Ask Forum</a>
           <a class="dropdown-item" href="#">Keyboard Shortcuts</a>
         </div>
         <!-- /.dropdown-menu -->
       </div>
       <!-- /.btn-account -->
     </div>
     <!-- /.top-bar-item -->
   </div>
   <!-- /.top-bar-list -->
 </div>
 <!-- /.top-bar -->
</header>
</html>